<div class="container mx-auto mt-4">
    <div class="row">

        <div *ngFor="let e of education_details" class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{e.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{e.year}}</h6>
                    <p class="card-text">{{e.score}}</p>
                </div>
            </div>
        </div>

    </div>
</div>