<div class="container mx-auto mt-4">
    <div class="row">
        <div class="tech">
            <h2>Technical Skills</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <div>Python, C Programming</div>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>

                    </div>
                </li>
                <li class="list-group-item">
                    <div>Django, Python-Selenium, OpenCV, MongoDB</div>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>

                    </div>
                </li>
                <li class="list-group-item">
                    <div>PyTorch, MySQL, SQLite3</div>
                    <div>
                        <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>

                    </div>
                </li>
                <li class="list-group-item">
                    <div>Pandas, Matplotlib</div>
                    <div>
                        <span class="fa fa-star checked"></span>

                    </div>
                </li>
            </ul>
        </div>

        <div class="lang">
            <h2>Languages</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <div>English, Tamil, Hindi</div>
                    <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>
                </li>
                <li class="list-group-item">
                    <div>Marwari</div>
                    <div>
                       <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>

                    </div>
                </li>
            </ul>
        </div>

      <div class="soft">
            <h2>Soft Skills</h2>
            <ul class="list-group list-group-numbered">
                <li class="list-group-item">Problem Solving</li>
                <li class="list-group-item">Teamwork</li>
                <li class="list-group-item">Critical Thinking</li>
                <li class="list-group-item">Adaptability</li>
                <li class="list-group-item">Curiosity</li>
            </ul>
        </div>
        <!-- <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn mr-2">Visit Site</a>
                    <a href="#" class="btn ">Github</a>
                </div>
            </div>
        </div> -->

    </div>
</div>
